<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="app/autoload.php"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="app/" />
        <server name="CONFIG_TYPE" value="default" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>Tests</directory>
            <!--<file>Tests/Chaplean/Bundle/UnitBundle/Test/LogicalTestCaseTest.php</file>-->
            <!--<file>Tests/Chaplean/Bundle/UnitBundle/Test/TransactionTest.php</file>-->
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>app/</directory>
            <directory>DataFixtures/</directory>
            <directory>Entity/</directory>
            <directory>Resources/</directory>
            <directory>Repository/</directory>
            <directory>Controller/</directory>
        </blacklist>
        <whitelist>
            <directory>Test/</directory>
            <directory>Fixtures/</directory>
            <directory>Utility/</directory>
        </whitelist>
    </filter>
</phpunit>
