parameters:
    database_driver: pdo_mysql
    database_host: mysql
    database_port: 3306
    database_name: test_database
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 465
    mailer_user: null
    mailer_password: null
    mailer_encryption: null

    locale: fr
    secret: Secr3tTok3nForChapleanUnitBun2le

    data_fixtures_namespace: Chaplean\Bundle\UnitBundle\
